### API do Banco Central

https://dadosabertos.bcb.gov.br/dataset?res_format=API

In [6]:
#requisição única

import requests

link = "https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=100000&$orderby=Data%20desc&$format=json"

requisicao = requests.get(link)
informacoes = requisicao.json()


#import pprint

#pprint.pprint(informacoes)

In [7]:
import pandas as pd

tabela = pd.DataFrame(informacoes["value"])

display(tabela)

             Data  Quantidade         Valor Denominacao  Especie
0      2022-09-14  3191087463  3.191087e+07        0.01   Moedas
1      2022-09-14  7473054328  3.736527e+08        0.05   Moedas
2      2022-09-14  7692831632  7.692832e+08        0.10   Moedas
3      2022-09-14  3392751248  8.481878e+08        0.25   Moedas
4      2022-09-14  3441047947  1.720524e+09        0.50   Moedas
...           ...         ...           ...         ...      ...
87990  1994-10-03   181609358  1.816094e+08        1.00   Moedas
87991  1994-10-03   252922174  1.264611e+09        5.00  Cédulas
87992  1994-10-03   273630983  2.736310e+09       10.00  Cédulas
87993  1994-10-03    28945486  1.447274e+09       50.00  Cédulas
87994  1994-10-03     2841789  2.841789e+08      100.00  Cédulas

[87995 rows x 5 columns]

In [12]:
# pegar todas as infos com varias requisições

tabela_final = pd.DataFrame()
pular_indice = 0

while True:
    
    link = f'https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$skip={pular_indice}&$orderby=Data%20desc&$format=json'
    requisicao = requests.get(link)
    informacoes = requisicao.json()
    tabela = pd.DataFrame(informacoes["value"])
    if len(informacoes['value']) < 1:
        break

    tabela_final = pd.concat([tabela_final, tabela])
    pular_indice += 10000

display(tabela_final)

            Data  Quantidade         Valor Denominacao  Especie
0     2022-09-14  3191087463  3.191087e+07        0.01   Moedas
1     2022-09-14  7473054328  3.736527e+08        0.05   Moedas
2     2022-09-14  7692831632  7.692832e+08        0.10   Moedas
3     2022-09-14  3392751248  8.481878e+08        0.25   Moedas
4     2022-09-14  3441047947  1.720524e+09        0.50   Moedas
...          ...         ...           ...         ...      ...
7990  1994-10-03   181609358  1.816094e+08        1.00   Moedas
7991  1994-10-03   252922174  1.264611e+09        5.00  Cédulas
7992  1994-10-03   273630983  2.736310e+09       10.00  Cédulas
7993  1994-10-03    28945486  1.447274e+09       50.00  Cédulas
7994  1994-10-03     2841789  2.841789e+08      100.00  Cédulas

[87995 rows x 5 columns]

In [10]:
#teste que vai dar errado

#link = "https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$skip=100000&$orderby=Data%20desc&$format=json"
#requisicao = requests.get(link)
#informacoes = requisicao.json()
#print(informacoes)

{'@odata.context': 'https://was-p.bcnet.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata$metadata#informacoes_diarias', 'value': []}